[submodule "Arduino/dual-vnh5019-motor-shield"]
	path = Arduino/dual-vnh5019-motor-shield
	url = https://github.com/pololu/dual-vnh5019-motor-shield.git
[submodule "Arduino/FlexiTimer2"]
	path = Arduino/FlexiTimer2
	url = https://github.com/PaulStoffregen/FlexiTimer2
[submodule "Arduino/Arduino-PID-Library"]
	path = Arduino/Arduino-PID-Library
	url = https://github.com/br3ttb/Arduino-PID-Library/
[submodule "Arduino/Arduino-PID-AutoTune-Library"]
	path = Arduino/Arduino-PID-AutoTune-Library
	url = https://github.com/br3ttb/Arduino-PID-AutoTune-Library
