<launch>	  
	<!-- urdf xml robot description loaded on the Parameter Server, converting the xacro into a proper urdf file-->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find sangi_description)/urdf/sangi.xacro'" />
	<!-- push robot_description to factory and spawn robot in gazebo -->
	<node name="sangi_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" 
		 args="-urdf -param robot_description -model sangi" />
	<include file="$(find gazebo_ros)/launch/empty_world.launch">	
	<!--Load the world and environment here -->    
		<arg name="world_name" value="$(find sangi_gazebo)/worlds/empty.world"/>	    
		<arg name="gui" value="true"/>	  
	</include>	
	<!-- ros_control sangi launch file -->
 	<include file="$(find sangi_control)/launch/sangi_control.launch" /> 
</launch>
