<?xml version="1.0"?>

<model>
  <name>sangi_base</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Shubhojyoti Ganguly</name>
    <email>gangulyshubhojyoti@gmail.com</email>
  </author>

  <description>
    Chassis and base for the sangi robot. Derived from the Pioneer2 Robot
  </description>
</model>